<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitoring.sensormonitoring.myBatis.SensorTableMapper">
    <insert id="insertSensor" parameterType="com.monitoring.sensormonitoring.model.SensorDTO$SensorData">
        INSERT INTO SENSOR_DATA_TBL( IDX, SENSOR_IDX, SENSOR_VALUE, INSERT_DATE)
        VALUES (SENSOR_DATA_SEQ.nextval, #{key}, ${sensorValue}, SYSTIMESTAMP)
    </insert>
</mapper>